
.hero-section {
    background-color: #f4f4f4;
    padding: 4rem 2rem;
    text-align: center;
    background: url("/images/rationhero1.jpg") no-repeat center center/cover;
    height: 24rem;
    
  
    .hero-title {
      font-size: 3rem;
      margin-bottom: 1rem;
      color: #f4f4f4;
    }
  
    .hero-description {
      font-size: 1.2rem;
      color: #f5f5f5;
    }
  }
  