.hero-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: url("/images/home_hero.jpg") no-repeat center center/cover;
  height: 400px;
  padding: 2rem;

  .hero-content {
    color: #fff;

    .hero-heading {
      font-size: 2.5rem;
      font-weight: bold;
      margin-bottom: 1rem;
    }

    .hero-subheading {
      font-size: 1.1rem;
      margin-bottom: 1.5rem;
    }

    .hero-btn {
      background-color: #4d216d;

      &:hover {
        background-color: #4a148c;
      }
    }
  }
}
