$primary-main: #4d216d;
$primary-contrast-text: #ffffff;

$secondary-main: #ffd600;
$secondary-contrast-text: rgba(255, 0, 0, 0);

$info-main: #4d216d;

$divider-color: #4a148c;

$warning-main: #ffffff;
$warning-contrast-text: #4d216d;

$success-main: #4a148c;

$background-default: #ffffff; // Assuming default for light type
$background-paper: #f5f5f5; // A common light theme paper color