$primary-main: #ff652f;
$primary-contrast-text: #ffffff;

$secondary-main: #ffe400;

$info-main: #b1c0cb;

$divider-color: #14a76c;

$error-main: #f44336;

$warning-main: #14a76c;

$background-default: #272727;
$background-paper: #1e1e1e;